.book-read {
  &-block {
    position: relative;

    padding-top: 2.15rem !important;

    @include media-breakpoint-down(sm) {
      &.on-hide {
        padding-top: 0 !important;

        .book-read-top-menu {
          display: none;
        }

        .book-content-block {
          > * {
            &:not(.book-content) {
              display: none;
            }

            &.book-content {
              height: calc(var(--vh) * 100);
            }
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      .book-read-top-menu {
        padding-bottom: 2.15rem !important;
        border-bottom: 1px solid rgba($colors--black, 0.3);
      }
    }
  }

  &-top-menu {
    position: relative;
    display: flex;
    flex-flow: nowrap;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding-left: 5.5rem !important;
    }

    + * {
      margin-top: 2rem;
    }

    .left,
    .right {
      display: flex;
      flex-flow: nowrap;
      align-items: center;

      .prev {
        @include media-breakpoint-down(sm) {
          display: none;

          + * {
            margin-left: 0;
          }
        }
      }

      > * {
        position: relative;

        + * {
          margin-left: 3rem;
        }
      }
    }

    [class*='btn--'] {
      position: relative;
      padding: 0;
      line-height: 1;
      cursor: pointer;
      transition: opacity $duration;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      img {
        display: none;
      }

      &.add-brackets {
        width: 12px;
        height: 23px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.53' height='22.657' viewBox='0 0 11.53 22.657'%3E%3Cg id='prefix__Brackets' transform='translate(.5 .5)'%3E%3Cpath id='prefix__Path_759' d='M7037.952-1182.933l-5.251 4.815v-21.02h10.53v21.02z' data-name='Path 759' transform='translate(-7032.701 1199.139)' style='fill:%23fff;stroke:%23000;background:black'/%3E%3C/g%3E%3C/svg%3E%0A");
      }

      &.btn--hambuger {
        width: 18px;
        height: 14px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13.5' viewBox='0 0 18 13.5'%3E%3Cdefs%3E%3Cstyle%3E .prefix__cls-1%7Bfill:none;stroke:%23303030;stroke-width:1.5px%7D %3C/style%3E%3C/defs%3E%3Cg id='prefix__Group_309' data-name='Group 309' transform='translate(-253.5 -29.75)'%3E%3Cg id='prefix__Group_306' data-name='Group 306' transform='translate(0 10)'%3E%3Cpath id='prefix__Line_30' d='M0 0L14 0' class='prefix__cls-1' data-name='Line 30' transform='translate(257.5 26.5)'/%3E%3Cpath id='prefix__Line_31' d='M0 0L2 0' class='prefix__cls-1' data-name='Line 31' transform='translate(253.5 26.5)'/%3E%3C/g%3E%3Cg id='prefix__Group_308' data-name='Group 308' transform='translate(0 4)'%3E%3Cpath id='prefix__Line_30-2' d='M0 0L14 0' class='prefix__cls-1' data-name='Line 30' transform='translate(257.5 26.5)'/%3E%3Cpath id='prefix__Line_31-2' d='M0 0L2 0' class='prefix__cls-1' data-name='Line 31' transform='translate(253.5 26.5)'/%3E%3C/g%3E%3Cg id='prefix__Group_307' data-name='Group 307' transform='translate(0 16)'%3E%3Cpath id='prefix__Line_30-3' d='M0 0L14 0' class='prefix__cls-1' data-name='Line 30' transform='translate(257.5 26.5)'/%3E%3Cpath id='prefix__Line_31-3' d='M0 0L2 0' class='prefix__cls-1' data-name='Line 31' transform='translate(253.5 26.5)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }

      &.btn--font-props {
        width: 20px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='21' viewBox='0 0 22 21'%3E%3Cg id='prefix__Text' transform='translate(1)'%3E%3Ctext id='prefix__AA' transform='translate(10 17)' style='fill:%232b2e2c;font-size:13px;font-family:Roboto-Regular,Roboto;letter-spacing:.016em'%3E%3Ctspan x='-10.215' y='0'%3EA%3C/tspan%3E%3Ctspan y='0' style='font-size:18px'%3EA%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E%0A");
      }

      &.btn--search {
        width: 16px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.849' height='17.702' viewBox='0 0 15.849 17.702'%3E%3Cg id='prefix__Seach' transform='translate(.75 .75)'%3E%3Cpath id='prefix__Union_2' d='M11.462 12.156A6.376 6.376 0 0 1 1 7.319a6.366 6.366 0 0 1 12.732 0 6.287 6.287 0 0 1-2.269 4.837L15.5 17.5z' data-name='Union 2' transform='translate(-1 -1)' style='fill:none;stroke:%23000;stroke-width:1.5px'/%3E%3C/g%3E%3C/svg%3E%0A");

        + * {
          min-width: calc(100% - 2rem);
          border-radius: 1rem;
          right: 1rem;

          @include media-breakpoint-up(md) {
            border-radius: 2rem;
            min-width: 537px;
          }

          .arrow {
            transform: translateY(-100%) scale(0.8);
            right: 0;

            @include media-breakpoint-up(md) {
              right: 2.25rem;
              transform: translateY(-100%) scale(1);
            }
          }
        }
      }

      &[class*='bookmarked'] {
        color: $colors--black !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.53' height='22.657' viewBox='0 0 11.53 22.657'%3E%3Cg id='prefix__Brackets' transform='translate(.5 .5)'%3E%3Cpath id='prefix__Path_759' d='M7037.952-1182.933l-5.251 4.815v-21.02h10.53v21.02z' data-name='Path 759' transform='translate(-7032.701 1199.139)' style='fill:%23f80303;stroke:%23f80303'/%3E%3C/g%3E%3C/svg%3E%0A");
      }

      &:hover {
        opacity: 0.65;
      }

      &.btn--prev {
        font-size: 2rem;
      }

      &.btn--font-props {
        ~ .popovers {
          .arrow {
            right: 5rem;
          }
        }
      }
    }

    > * {
      position: relative;
      width: auto;
      flex: 0 0 auto;
      min-height: 1px;
    }

    .download-button {
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        color: $colors--white !important;
        font-size: 1.2rem;
        z-index: 1;
      }
    }

    .search {
      li[heading] {
        display: none;
      }

      .ui-menu {
        &.ui-widget {
          position: relative;
          width: 100% !important;
          box-shadow: none;
        }
      }
    }
  }

  &-submenu {
    position: relative;

    padding-bottom: 1.5rem;
    + * {
      margin-top: 1.5rem;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 2rem;
      transition: transform $duration * 2, opacity $duration, max-height $duration;
      max-height: 100%;

      + * {
        margin-top: 2rem;
      }

      &:not(.is-shown) {
        transform: translateY(-150%);
        opacity: 0;
        max-height: 0;
        overflow: hidden;
      }

      &.is-shown {
        animation: fadeIn $duration * 3;
      }
    }

    border-bottom: 1px solid rgba($colors--black, 0.3);
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .form-control {
      line-height: 1;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 1rem 2.5rem;
    }

    @include media-breakpoint-down(sm) {
      justify-content: space-around;
    }

    > * {
      position: relative;
      min-height: 1px;
      width: auto;
    }

    &-item {
      font-size: 1.2rem;
      color: $colors--black-two;
      font-weight: bold;
      cursor: pointer;
      transition: color $duration;

      &:not(.active) {
        color: rgba($colors--black-two, 0.5);
      }

      &:hover {
        color: $colors--black-two;
      }

      @include media-breakpoint-up(md) {
        font-size: 1.8rem;

        + * {
          margin-left: 3rem;
        }
      }
    }
  }

  &-tabs {
    position: relative;

    min-height: calc(100vh - 224px);

    > * {
      position: relative;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: opacity $duration * 2;

      &:not(.is-shown) {
        display: none;
      }

      &:not(.reading) {
        height: calc(var(--calcAmount) + 4rem);
        overflow: hidden;
        overflow-y: auto;
      }

      &.is-shown {
        animation: fadeIn $duration * 3;
        opacity: 1;
        visibility: visible;
        z-index: 99;
      }
    }
  }
}
