.book-details {
  position: relative;
  color: rgba($colors--dark, 0.5);

  > .row {
    > * {
      > * {
        + * {
          &:not(.show-md-upper) {
            margin-top: 2.6rem;
          }
        }
      }
    }
  }

  .book-default {
    &.main-book {
      max-width: calcPercent(153, 375) * 1%;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        max-width: calcPercent(227, 360) * 1%;
      }

      .img {
        padding-bottom: 230 / 153 * 100%;
      }
    }
  }

  .books-block {
    @include media-breakpoint-up(lg) {
      .image {
        max-width: 80%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .description {
      font-size: 1.5rem;
      letter-spacing: 0.024rem;
    }

    .show-md-upper {
      min-height: 16vw;
    }
  }

  [class*='title'] {
    color: rgba($colors--dark, 0.75);
  }
}
