.book-content {
  position: relative;

  height: calc(100vh - 224px);
  overflow-y: auto;
  overflow-x: hidden;

  line-height: 1.5 !important;
  text-align: justify;

  @include media-breakpoint-down(sm) {
    cursor: pointer;

    * {
      cursor: pointer;
    }
  }

  @include media-breakpoint-up(md) {
    height: calc(100vh - 17rem);
  }

  &[class*='georgia'] {
    font-family: $ff-georgia !important;

    * {
      font-family: $ff-georgia !important;
    }
  }

  &[class*='arial'] {
    font-family: $ff-arial !important;

    * {
      font-family: $ff-arial !important;
    }
  }

  &[class*='tahoma'] {
    font-family: $ff-tahoma !important;

    * {
      font-family: $ff-tahoma !important;
    }
  }

  &[class*='comic-sans'] {
    font-family: $ff-comic-sans !important;

    * {
      font-family: $ff-comic-sans !important;
    }
  }

  &[class*='fs-'] {
    &[class*='-1-0'] {
      font-size: 1rem !important;

      * {
        font-size: 1rem !important;
      }
    }

    &[class*='-1-2'] {
      font-size: 1.2rem !important;

      * {
        font-size: 1.2rem !important;
      }
    }

    &[class*='-1-4'] {
      font-size: 1.4rem !important;

      * {
        font-size: 1.4rem !important;
      }
    }

    &[class*='-1-6'] {
      font-size: 1.6rem !important;

      * {
        font-size: 1.6rem !important;
      }
    }

    &[class*='-1-8'] {
      font-size: 1.8rem !important;

      * {
        font-size: 1.8rem !important;
      }
    }
  }

  @for $i from 1 to 6 {
    h#{$i} {
      font-weight: bold !important;
    }
  }

  + * {
    margin-top: 2rem;
  }

  > * {
    + * {
      margin-top: 1.6rem;
    }
  }

  * {
    line-height: 1.57 !important;
    letter-spacing: 0.042rem !important;
    text-align: justify;

    span {
      display: unset;
    }
  }

  + .book-pagining {
    position: relative;
    overflow: unset;
    border-radius: 0;
    height: 2rem;
    border: none;
    background-color: transparent;

    &:before {
      content: '';
      position: absolute;
      top: 1rem;
      left: 0;
      right: 0;
      background-color: rgba($colors--dark, 0.35);
      height: 2px;
    }

    > * {
      &:not(.page-of) {
        display: inline-block;
        position: absolute;
        top: 0.6rem;
        width: 1rem;
        height: 1rem;
        background-color: $colors--dark;
        border: none;
        cursor: pointer;
        border-radius: 50%;
      }
    }

    .page-of {
      position: relative;
      text-align: center;
      padding-top: 2.2rem;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.019rem;
      color: $colors--charcoal;

      @include media-breakpoint-up(md) {
        font-size: 1.4rem;
      }
    }
  }
}
