.book-read {
  &-block {
    position: relative;

    padding-top: 2.15rem !important;

    @include media-breakpoint-up(md) {
      .book-read-top-menu {
        padding-bottom: 2.15rem !important;
        border-bottom: 1px solid rgba($colors--black, 0.3);
      }
    }
  }

  &-top-menu {
    position: relative;
    display: flex;
    flex-flow: nowrap;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding-left: 5.5rem !important;
    }

    + * {
      margin-top: 2rem;
    }

    .left,
    .right {
      display: flex;
      flex-flow: nowrap;
      align-items: center;

      > * {
        position: relative;

        + * {
          margin-left: 3rem;
        }
      }
    }

    [class*='btn--'] {
      position: relative;
      padding: 0;
      line-height: 1;
      cursor: pointer;
      transition: opacity $duration;

      &[class*='bookmarked'] {
        color: $colors--black !important;

        img {
          width: 100%;
        }

        &:before {
          content: '\f00c';
          position: absolute;
          font-size: 1rem;
          font-family: $font-awesome;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }

      &:hover {
        opacity: 0.65;
      }
    }

    > * {
      position: relative;
      width: auto;
      flex: 0 0 auto;
      min-height: 1px;
    }

    .download-button {
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        color: $colors--white !important;
        font-size: 1.2rem;
        z-index: 1;
      }
    }
  }
}
