.coupon {
  position: relative;
  border-radius: 1rem;
  padding: 4rem 2rem;
  box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.5);
  background: linear-gradient(to bottom, $colors--aqua-blue, rgba($colors--aqua-blue, 0.25));

  &-amount {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;

    span {
      font-size: 3.6rem;
      font-weight: 600;
    }
  }

  &-info {
    font-family: $ff-sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: 0.025rem;

    + * {
      margin-top: 2rem;
    }
  }

  .btn {
    border: 1px solid $colors--ocean;
    color: $colors--ocean;
    font-weight: bold;
  }
}
