.filter-popover {
  > * {
    margin-top: 1rem;
  }
}

.input-group-prepend {
  position: relative;
}

.popover--filter {
  padding: 3rem 2.7rem;
  box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  border-radius: 1rem;
  min-width: 35rem;
  margin-top: 7.5rem;

  left: unset;
  right: 0;
  transition: opacity $duration;

  @include media-breakpoint-down(sm) {
    position: fixed;
    right: 1.5rem;
    margin-top: 11.5rem;
  }

  &:not(.is-shown) {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  .arrow {
    position: absolute;
    display: block;
    height: 0.5rem;
    margin: 0 0.3rem;

    $arrowWidth: 1.5rem;
    width: $arrowWidth;
    top: $arrowWidth * -1;

    @include media-breakpoint-down(sm) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-breakpoint-up(md) {
      right: 2.85rem;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: '';
      border-color: transparent;
      border-style: solid;
      border-width: 0 $arrowWidth $arrowWidth $arrowWidth;
    }

    &::before {
      top: 0;
      border-bottom-color: rgba(0, 0, 0, 0.25);
    }

    &:after {
      top: 1px;
      border-bottom-color: #fff;
    }
  }
}
