.icons {
  position: relative;

  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 100%;
  height: 100%;

  &--library {
    background-image: url($storageSrc + 'svg/book-icon.svg');

    width: 69px;
    height: 65px;

    @include media-breakpoint-up(md) {
      width: vw(69, 1920);
      height: vw(65, 1920);
    }

    @media (min-width: 1920px) {
      width: 69px;
      height: 65px;
    }
  }

  &--home {
    background-image: url($storageSrc + 'svg/home-icon.svg');
  }

  &--search {
    background-image: url($storageSrc + 'svg/search-icon--black.svg');
  }

  &--filter {
    background-image: url($storageSrc + 'svg/filter-icon--black.svg');
  }

  &--libraries {
    background-image: url($storageSrc + 'svg/library-icon.svg');
  }

  &--shopping-cart {
    background-image: url($storageSrc + 'svg/shopping-cart-icon.svg');
  }

  &--search-white {
    background-image: url($storageSrc + 'svg/search-icon--white.svg');
  }

  &--book {
    background-image: url($storageSrc + 'svg/opened-book-icon.svg');
  }

  &--read-book {
    width: 9.3rem;
    height: 9.3rem;
    background-image: url($storageSrc + 'svg/read-book-icon.svg');
  }

  &--success {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='62' viewBox='0 0 62 62'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; stroke-width: 2px; %7D .cls-1, .cls-2, .cls-3 %7B stroke: %2315de7b; %7D .cls-2, .cls-3, .cls-5 %7B fill: none; %7D .cls-2 %7B stroke-linejoin: round; stroke-width: 3px; %7D .cls-4 %7B stroke: none; %7D %3C/style%3E%3C/defs%3E%3Cg id='Group_5112' data-name='Group 5112' transform='translate(-157 -50)'%3E%3Cg id='Ellipse_80' data-name='Ellipse 80' class='cls-1' transform='translate(157 50)'%3E%3Ccircle class='cls-4' cx='31' cy='31' r='31'/%3E%3Ccircle class='cls-5' cx='31' cy='31' r='30'/%3E%3C/g%3E%3Cpath id='Path_5324' data-name='Path 5324' class='cls-2' d='M5194.66,3926.144l8.7,12.941,14.188-23.34' transform='translate(-5018 -3848)'/%3E%3Cg id='Ellipse_81' data-name='Ellipse 81' class='cls-3' transform='translate(162 55)'%3E%3Ccircle class='cls-4' cx='26' cy='26' r='26'/%3E%3Ccircle class='cls-5' cx='26' cy='26' r='25.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    width: 6.2rem;
    height: 6.2rem;
  }

  &-block {
    position: relative;

    &.with-notification {
      margin-top: (-27 / 2) + px;

      @include media-breakpoint-up(md) {
        margin-top: vw((-27 / 2), 1920);
      }

      @media (min-width: 1920px) {
        margin-top: (-27 / 2) + px;
      }
    }
  }
}
