.offset-menu-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($colors--black, 0.35);
  z-index: 999;

  &:not(.is-shown) {
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  .load-page {
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 1.4rem;
    }
  }

  &.is-shown {
    .offset-menu-wrapper {
      animation: transformXAnim $duration * 1.25;

      @include media-breakpoint-down(sm) {
        &:before {
          content: '\f00d';
          font-family: $font-awesome;
          font-weight: 300;
          position: absolute;
          top: 1.75rem;
          right: 2.3rem;
          font-size: 2rem;
          color: $colors--dark !important;
          z-index: 9999;
          line-height: 1;
        }
      }
    }
  }

  .offset {
    &-menu {
      position: relative;
      display: flex;
      flex-flow: wrap;
      padding: 2.3rem;
      transition: transform $duration;

      &-content {
        position: relative;
        overflow: hidden;

        max-height: 86vh;
        overflow-y: auto;
        padding-right: 2rem;
        margin-top: 1rem;

        @include media-breakpoint-down(sm) {
          max-height: calc(var(--vh) * 60);
          overflow-y: auto;
        }

        [data-color] {
          a {
            position: relative;
            padding-left: 1rem;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 3px;
              bottom: 0;
            }
          }
        }

        [data-color='orange'] {
          a {
            &:before {
              background-color: $colors--yellow-orange;
            }
          }
        }

        [data-color='green'] {
          a {
            &:before {
              background-color: $colors--light-green;
            }
          }
        }

        [data-color='azure'] {
          a {
            &:before {
              background-color: $colors--azure;
            }
          }
        }

        [data-color='seafoam'] {
          a {
            &:before {
              background-color: $colors--main-green;
            }
          }
        }
      }

      &-item {
        position: relative;
        min-height: 1px;
        width: 100%;
        transition: opacity $duration * 3;

        cursor: pointer;

        &:not(.active) {
          opacity: 0.3;

          .offset-menu-content {
            display: none;
          }
        }

        &.active {
          .offset-menu-content {
            animation: fadeIn $duration * 3;

            &:before {
              transform: translateX(0%);
            }
          }
        }

        @include media-breakpoint-up(md) {
          &:hover {
            opacity: 1;
          }
        }
      }

      > * {
        + * {
          margin-top: 2rem;
        }
      }

      &-title {
        font-family: $font-family-sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba($colors--black, 0.35);

        @include media-breakpoint-up(md) {
          font-size: 1.8rem;
        }
      }

      &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $colors--white;

        @include media-breakpoint-up(md) {
          width: 50vw;
          height: 100%;
        }
      }
    }
  }
}
