[class*='-slider-block'] {
  position: relative;

  .slider-controls--right {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    position: absolute;
    right: 0;
    top: 50%;
    z-index: 9;
    font-size: 3.7rem;
    transform: translateY(-50%);
    cursor: pointer;
  }

  @include media-breakpoint-up(md) {
    > [class*='-slider']:not([class*=--standart]) {
      max-width: calc(100% - (2rem + 3.7rem + 2rem));
      margin-left: 0 !important;
    }
  }

  
}

[class*='-slider']:not([class*='-slider-block']) {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

  width: 100%;

  &[class*='--fade'] {
    > *:nth-child(1) > * {
      pointer-events: none;
      transition-property: opacity;

      &[class*='--active'] {
        pointer-events: auto;
      }
    }
  }

  &--vertical {
    flex-direction: column;
  }

  > [class*='-wrapper'] {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transform: translate3d(0px, 0, 0);

    > [class*='-slide'] {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
      transition-property: transform;
    }
  }
}

%slider {
  &-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;

    bottom: 10px;
    left: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      display: none;
    }

    &-bullet {
      width: 30px;
      height: 3px;
      display: inline-block;
      background: $colors--white;
      opacity: 0.5;
      cursor: pointer;

      + * {
        margin-left: 4px;
      }

      &--active {
        opacity: 0.8;
      }

      &--dark {
        @extend %slider-pagination-bullet;
      }
    }
  }
}
