.three-books-block {
  display: flex;
  flex-flow: nowrap;

  padding-top: 5rem;
  padding-bottom: 2rem;

  > * {
    position: relative;
    min-height: 1px;
    width: calc(100% / 3);

    &:nth-child(1) {
      transform: scale(1.1691);
    }

    &:nth-child(2) {
      transform: scale(1.1868) translateY(-15%);
    }

    &:nth-child(3) {
      transform: scale(1.2045) translate(-4%, -4%);
    }
  }

  .books-of-tbb {
    overflow: hidden;
    border-radius: 3px;

    &:not(:nth-child(1)) {
      box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.16);
    }
  }
}
