.video-section {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  color: $colors--black;

  @include media-breakpoint-up(md) {
    padding-bottom: 434 / 787 * 100%;
  }

  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}

.video-lessons {
  padding-left: 0;
  list-style: none;

  &-section {
    position: relative;
    overflow-y: auto;
    max-height: 435px;

    &::-webkit-scrollbar {
      background-color: #fafafa;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 8px;
      background-color: #c1c1c1;
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }
  }

  &-item {
    color: $colors--black;
    line-height: 1.57;
    letter-spacing: 0.042rem;
    padding: 3.4rem 2.7rem;
    border-radius: 10px;

    .title {
      font-size: 1.8rem;
    }

    &.active {
      background-color: $colors--pale-grey-two;
    }
  }
}
