a {
  color: inherit;
  transition: color $duration ease-in;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

[role='button'] {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

body {
  @include media-breakpoint-down(sm) {
    &:not(.homepage) {
      header {
        display: none;
      }

      .prev-icon {
        position: absolute;
        top: 2.7rem;
        left: 2rem;

        width: 1.6rem;
        height: 1.6rem;
        overflow: hidden;
        user-select: none;
        cursor: pointer;
        font-style: normal;

        &:before {
          content: '\f053';
          position: absolute;
          font-family: $font-awesome;
          font-weight: 600;
          font-size: 1.6rem;
          color: $colors--black;
        }
      }
    }
  }
}

.update-notification {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  border-radius: 50%;
  background-color: $colors--aqua-blue;
  width: 2.7rem;
  height: 2.7rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.left {
    position: absolute;
  }

  &.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }
}

.show-md-upper {
  @include media-breakpoint-down(sm) {
    display: none;
  }

  > * {
    + * {
      margin-top: 1.6rem;
    }
  }
}
