$colors--black: #303030;
$colors--dark: rgb(36, 33, 38);
$colors--black-two: #212121;
$colors--main-green: #5dd3c5;
$colors--dark-green: #246464;
$colors--aqua-blue: #00e6e6;
$colors--white: #ffffff;
$colors--dirty-white: #efefef;

$colors--windows-blue: #2e93a4;
$colors--dark-peach: #e18453;
$colors--ocean: #037f8c;
$colors--green-blue: #05a6a6;
$colors--peach: #fdae84;
$colors--beige: #ecc7c0;
$colors--pale-teal: #8bcbc8;
$colors--white-two: #e6e6e6;
$colors--pale-grey-two: #dbe1e8;
$colors--pinkish-grey: #c2c2c2;

$colors--charcoal: #2b2e2c;
$colors--bluey-grey: #9ca9b7;

$bgColorMap: (
  pale-teal: #8bcbc8,
  windows-blue: #2e93a4,
  beige: #ecc7c0,
  peach: #fdae84,
  dark-peach: #e18453,
  ocean: #037f8c,
  green-blue: #05a6a6,
  white-two: #e6e6e6,
  dirty-purple: #734860,
  dusty-lavender: #a68f9b,
  mushroom: #b39988,
  very-light-pink: #ffeadb,
  beige-two: #d7d9a7,
  light-blue-grey: #c2e0f2,
  slate: #456173,
  mushroom-two: #ba9f90,
  pale-grey: #ecf0f4,
);

$bgColors: #8bcbc8, #2e93a4, #ecc7c0, #fdae84, #e18453, #037f8c, #05a6a6, #e6e6e6, #734860, #a68f9b, #b39988, #ffeadb, #d7d9a7, #c2e0f2, #456173, #ba9f90;

@mixin color-modifiers {
  @each $name, $hex in $bgColorMap {
    &--#{$name} {
      background-color: $hex;
      color: $colors--white;

      .with-three-dots {
        &:after {
          background-color: $hex;
        }
      }
    }
  }
}

.bg {
  @include color-modifiers;

  &-dark-green-blue {
    background-color: rgba(36, 100, 100, 0.3);
  }
}

.text-color {
  &--black {
    color: $colors--black !important;
  }

  &--dark {
    color: $colors--dark !important;
  }
}
