%title {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
}

.title {
  font-size: 2.4rem;
  color: $colors--black-two;
  font-weight: bold;
  letter-spacing: 0.048rem;

  @include media-breakpoint-up(md) {
    font-size: 2.2rem;

    + .description.d-md-inline-block {
      font-size: 1.8rem;
    }
  }

  &--sm {
    @extend %title;

    font-size: 2rem;

    @include polyPropsSize(2, 3, 3, font-size);
  }

  &:not(.d-inline-block) + * {
    margin-top: 0.75rem;
  }

  &.d-md-inline-block {
    + .description {
      @include media-breakpoint-up(md) {
        margin-left: 1rem;
      }
    }
  }

  &-block {
    position: relative;

    + * {
      margin-top: 1.8rem;

      @include media-breakpoint-up(lg) {
        margin-top: 3rem;
      }
    }

    &.bottom-line {
      padding-bottom: 1rem;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: rgba($colors--black, 0.5);

        @include media-breakpoint-down(sm) {
          left: 1.5rem;
          right: 1.5rem;
        }
      }
    }
  }
}

.description {
  font-size: 1.4rem;
  letter-spacing: 0.19px;
  line-height: 1.2;

  &.text-color--dark.op-05 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  + .btn--more {
    position: relative;
    padding-left: 1rem;
    margin-left: 1rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      width: 1px;
      background-color: $colors--black;
    }
  }

  &--serif {
    font-family: 'Georgia', serif;
    font-size: 1.4rem;
    color: inherit;
  }
}

.bottom-lined-text {
  font-family: $font-family-sans-serif;
  font-size: 1.4rem;
  color: inherit;

  @extend %bottom-line;
}

.font-size {
  &-xs {
    font-size: 1rem !important;
  }

  &-sm {
    font-size: 1.2rem !important;
  }

  &-md {
    font-size: 1.4rem !important;
  }

  &-lg {
    font-size: 1.6rem !important;
  }

  &-xl {
    font-size: 1.8rem !important;
  }

  &-xxl {
    font-size: 2rem !important;
  }

  &-huge {
    font-size: 2.2rem !important;
  }

  &-xhuge {
    font-size: 2.4rem !important;
  }

  &-3rem {
    font-size: 3rem !important;
  }
}

.font {
  &-weight {
    &-medium {
      font-weight: 500 !important;
    }
  }
}

.text-line-through {
  text-decoration: line-through;
}
