.btn {
  font-size: 1.4rem;

  &--more {
    &::after {
      content: '>>';
      display: inline-block;
    }
  }

  &--small {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid $colors--black;
    border-radius: 1rem;
  }

  &--radius {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    line-height: 1;

    &-10 {
      @extend .btn--radius;
      border-radius: 1rem;
    }

    &-20 {
      @extend .btn--radius;
      border-radius: 2rem;
    }
  }

  &--black {
    color: $colors--white;
    background-color: $colors--black;
    border: 1px solid $colors--black;

    &:hover {
      background-color: $colors--white;
      color: $colors--black;
    }

    &-cart {
      position: relative;
      border: 2px solid $colors--black;
      border-radius: 3rem;
      line-height: 1.2;
      padding: 0.35rem 0;
      width: 100px;

      &::before {
        content: '\f07a';
        font-family: $font-awesome;
        font-weight: 300;
        font-size: 2rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &--filter {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
    transition: background-color $duration;

    &:hover {
      background-color: rgba($colors--black, 0.125);
    }
  }

  &--google {
    color: rgba($colors--black, 0.5);
    border-color: rgba($colors--black, 0.5);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2rem;
      width: 28px;
      height: 28px;
      background-image: url('/Storage/svg/google-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--facebook {
    color: $colors--white;
    background-color: #32599d;
    border-color: #32599d;

    &::before {
      content: '\f39e';
      position: absolute;
      font-family: 'Font Awesome 5 Brands';
      font-weight: 900;
      top: 50%;
      transform: translateY(-50%);
      left: 2.4rem;
      font-size: 2.6rem;
    }
  }

  &--google,
  &--facebook {
    font-family: $font-family-sans-serif;
    font-size: 1.6rem;
    line-height: 1.19;
    letter-spacing: 0.26px;
    border: 1px solid;
    border-radius: 1rem;
    padding-top: 13px;
    padding-bottom: 11px;
    font-weight: bold;
    padding-left: 6rem;
    text-align: left;
  }

  &--windows-blue {
    font-size: 1.4rem;
    border: 1px solid $colors--dodger-blue;
    color: $colors--azul;
    border-radius: 5px;
    text-align: center;
    line-height: 1;
    padding: 0.8rem;
  }
}

.btn--radius-20 {
  border-radius: 2rem;
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  line-height: 1.2;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
