.header {
  position: relative;

  @include media-breakpoint-down(sm) {
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 130%;
      border-radius: 50%;
      background-color: $colors--main-green;
      transform: translate(-10%, -50%);
      bottom: -35vw;
      max-height: 413px;
      top: 0;
    }

    > .container > .row {
      + .row {
        margin-top: 1.4rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: $colors--white;

    &-main {
      box-shadow: 0 30px 14px rgba($colors--white, 0.75);
    }

    + * {
      margin-top: var(--header-height);
    }
  }

  .shoping-cart {
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 1rem;
      border-left: none !important;
      text-align: right;

      i {
        font-size: 1.8rem;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &-wrapper {
      position: absolute;
      overflow: hidden;

      background-color: $colors--white;
      transition: max-height $duration * 3;
      height: auto;

      @include media-breakpoint-down(sm) {
        left: 0;
        right: 0;
        bottom: 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }

      @include media-breakpoint-up(md) {
        top: 1.6rem;
        right: -1.6rem;
        width: 375px;
        border-radius: 1rem;
        box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.25);
      }

      .cart {
        &-header {
          background-color: rgba($color: #000000, $alpha: 0.015);
          padding: 1rem 2rem;

          font-family: $font-family-base;
          font-weight: 400;
          font-size: 1.4rem;
          box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.25);
          text-align: left;
        }

        &-main {
          padding: 2rem;

          display: flex;
          flex-direction: column;

          min-height: 47vh;
          height: 47vh;
          overflow: auto;

          @include media-breakpoint-up(md) {
            min-height: 282px;
            height: 282px;
          }

          .book {
            &-img {
              $mw: calcPercent(104, 375) * 1%;

              flex: 0 0 $mw;
              max-width: $mw;

              .img {
                padding-bottom: 215 / 144 * 100%;
              }

              @include media-breakpoint-up(md) {
                $mw: 84px;

                flex: 0 0 $mw;
                max-width: $mw;
              }
            }

            &-title {
              position: relative;
              max-width: 230px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;

              font-family: $font-family-base;
              font-weight: bold;
              font-size: 1.3rem;
              color: rgba($colors--black, 0.75);

              + * {
                margin-top: 1rem;
              }
            }

            &-description {
              position: relative;
              max-width: 230px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;

              font-family: $font-family-base;
              font-weight: 300;
              font-size: 1.3rem;
              letter-spacing: 0.5px;

              + * {
                margin-top: 1rem;
              }
            }
          }
        }

        &-footer {
          position: relative;
          padding: 1rem 2rem;
          box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.25);
        }
      }

      .psv {
        background-color: rgba($color: #000000, $alpha: 0.015);
        box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.25);
      }

      .pri {
        background-color: $colors--main-green;
        box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.25);
        color: $colors--white;
        font-weight: 600;
      }

      .empty {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;

        i {
          font-size: 4rem;

          + * {
            margin-top: 1.6rem;
          }
        }

        &-desc {
          font-family: $font-family-base;
          font-weight: 600;
          font-size: 1.6rem;
        }
      }
    }

    &-block {
      position: fixed;
      top: 0;
      right: 0;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      transition: opacity $duration;

      &.is-shown {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
      }

      @include media-breakpoint-down(sm) {
        left: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.25);
      }

      @include media-breakpoint-up(md) {
        position: relative;
        height: 100%;
      }
    }

    @include media-breakpoint-down(sm) {
      &.active {
        .shoping-cart {
          &-block {
            opacity: 1;
            visibility: visible;
            z-index: 9999;
          }

          &-wrapper {
            max-height: 100%;
          }
        }
      }

      &:not(.active) {
        .shoping-cart-wrapper {
          max-height: 0px;
        }
      }
    }
  }

  .order-list {
    &-item {
      + * {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px dashed rgba($color: #000000, $alpha: 0.25);
      }
    }
  }

  &-top {
    display: flex;
    flex-flow: nowrap;
    align-items: center;

    > * {
      position: relative;
      min-height: 1px;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    font-size: 1.4rem;
    padding: 1.6rem 0;

    @include media-breakpoint-up(lg) {
      padding: 1.6rem;
    }

    &-logo {
      @include media-breakpoint-down(sm) {
        max-width: 92px;
      }

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    &-right {
      margin-left: auto;
    }
  }

  &-main {
    @include media-breakpoint-up(md) {
      padding: 1.2rem 3rem;
      border-radius: 1rem;
      background-color: $colors--main-green;

      &-right {
        display: flex;
        flex-direction: row;
        align-items: center;

        > * {
          + * {
            margin-left: 2rem;
          }
        }
      }
    }
  }

  &-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    display: flex;
    flex-flow: wrap;

    @include media-breakpoint-down(sm) {
      justify-content: flex-end;
    }

    > * {
      position: relative;
      min-height: 1px;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;

      + * {
        margin-left: 1rem;

        @include media-breakpoint-up(lg) {
          margin-left: 1.6rem;
        }
      }
    }

    &-link {
      font-family: inherit;
      font-size: 1.4rem;
      color: $colors--black-two;
      letter-spacing: 0.022rem;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        text-decoration: underline;
      }

      @include media-breakpoint-up(md) {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      &:hover {
        color: $colors--black;
        text-decoration: underline;
      }
    }
  }

  &-top {
    .header-list {
      > * {
        + * {
          padding-left: 0.75rem;
          margin-left: 0.75rem;
          border-left: 1px solid;

          @include media-breakpoint-up(lg) {
            padding-left: 1.2rem;
            margin-left: 1.2rem;
          }
        }
      }
    }
  }

  &-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > * {
      position: relative;
      min-height: 1px;
      width: 100%;
    }

    .header-logo {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;

        flex: 0 0 10rem;
        max-width: 10rem;
      }
    }

    &-right {
      position: relative;

      @include media-breakpoint-up(md) {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
      }
    }

    &-menu {
      .header-list {
        align-items: flex-end;

        @include media-breakpoint-up(xl) {
          > * {
            + * {
              margin-left: 2.6rem;
            }
          }
        }

        &-link {
          font-size: 1.6rem;
          font-weight: bold;
          color: $colors--white;

          @include media-breakpoint-up(md) {
            display: flex;
            flex-direction: row;
            align-items: center;
            transition-duration: 0s;

            &:hover {
              color: $colors--black;

              .icons {
                &--home {
                  background-image: url($storageSrc + 'svg/home-icon-black.svg');
                }

                &--libraries {
                  background-image: url($storageSrc + 'svg/library-icon-black.svg');
                }

                &--shopping-cart {
                  background-image: url($storageSrc + 'svg/shopping-cart-icon-black.svg');
                }
              }
            }
          }
        }
      }

      @include media-breakpoint-down(sm) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem 1.5rem;
        background-color: $colors--black-two;
        z-index: 999;

        .header-list {
          position: relative;

          &-item {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            text-align: center;

            &:not(.active) {
              opacity: 0.35;
            }
          }

          &-link {
            display: block;
            font-size: 1.2rem;
            text-decoration: none;
          }
        }
      }

      .icons {
        @include media-breakpoint-down(sm) {
          display: block;
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
        }

        @include media-breakpoint-up(md) {
          margin-right: 1rem;
        }

        &--home {
          width: 2.3rem;
          height: 2.7rem;
        }

        &--libraries {
          width: 3.7rem;
          height: 2.7rem;
        }

        &--shopping-cart {
          width: 3.4rem;
          height: 2.7rem;
        }

        &--search-white {
          width: 2.3rem;
          height: 2.7rem;
        }
      }
    }
  }

  .search-block {
    position: relative;
    border-radius: 2rem;
    background-color: rgba($colors--dirty-white, 0.4);
    transition: background-color $duration;

    &:hover {
      @include media-breakpoint-up(lg) {
        background-color: $colors--white;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-top: 3.6rem;
    }

    @include media-breakpoint-up(md) {
      width: vw(285, 768);
    }

    @include media-breakpoint-up(xl) {
      width: vw(490, 1920);
    }

    .form-control {
      border: none;
      border-radius: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: transparent;
      padding-left: 0;
    }

    .input-group {
      &-prepend {
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;

        .icons {
          &--search {
            width: 1.4rem;
          }

          &--filter {
            width: 1.8rem;
          }
        }
      }
    }
  }
}

.search-block {
  @include media-breakpoint-down(sm) {
    .cancel-btn {
      position: absolute;

      font-size: 1.6rem;
      font-weight: 300;
      right: 2.2rem;
      transform: translateY(2rem);
    }

    &:not(.is-shown) {
      .cancel-btn {
        display: none;
      }
    }

    &.is-shown {
      display: block !important;

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background-color: $colors--white;
      padding: 2rem;
      transition: all $duration;
      z-index: 999;
      margin-top: 0;
      border-radius: 0;
    }

    &.is-shown {
      .input-group {
        border-radius: 2rem;
        background-color: rgba(239, 239, 239, 0.4);
        max-width: 85%;
      }

      .cancel-button-block {
        display: inline-flex;
        padding-left: 2.2rem;
        padding-right: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .cancel-btn {
      display: none;
    }
  }
}

.search-filtered-input {
  position: relative;

  > .row {
    align-items: center;

    > * {
      &:nth-child(1) {
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          width: 2rem;
          height: 2rem;
          transform: translateY(-50%);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 92% center;
        }

        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.306' height='20.136' viewBox='0 0 18.306 20.136'%3E%3Cdefs%3E%3Cstyle%3E .prefix__cls-1,.prefix__cls-4%7Bfill:none%7D.prefix__cls-1,.prefix__cls-2%7Bstroke:%23212121;stroke-width:1.5px%7D.prefix__cls-1%7Bstroke-linecap:round%7D.prefix__cls-2%7Bfill:%23fff%7D.prefix__cls-3%7Bstroke:none%7D %3C/style%3E%3C/defs%3E%3Cg id='prefix__Group_35' data-name='Group 35' transform='translate(-305.5 -76)'%3E%3Cpath id='prefix__Path_4' d='M4418.5 124v15.255' class='prefix__cls-1' data-name='Path 4' transform='translate(-4110.559 -45.559)'/%3E%3Cpath id='prefix__Path_5' d='M4418.5 124v15.255' class='prefix__cls-1' data-name='Path 5' transform='translate(-4103.847 -45.559)'/%3E%3Cpath id='prefix__Path_6' d='M4418.5 124v15.255' class='prefix__cls-1' data-name='Path 6' transform='translate(-4097.135 -45.559)'/%3E%3Cg id='prefix__Ellipse_16' class='prefix__cls-2' data-name='Ellipse 16' transform='translate(305.5 83.933)'%3E%3Ccircle cx='2.441' cy='2.441' r='2.441' class='prefix__cls-3'/%3E%3Ccircle cx='2.441' cy='2.441' r='1.691' class='prefix__cls-4'/%3E%3C/g%3E%3Cg id='prefix__Ellipse_17' class='prefix__cls-2' data-name='Ellipse 17' transform='translate(312.212 76)'%3E%3Ccircle cx='2.441' cy='2.441' r='2.441' class='prefix__cls-3'/%3E%3Ccircle cx='2.441' cy='2.441' r='1.691' class='prefix__cls-4'/%3E%3C/g%3E%3Cg id='prefix__Ellipse_18' class='prefix__cls-2' data-name='Ellipse 18' transform='translate(318.924 91.255)'%3E%3Ccircle cx='2.441' cy='2.441' r='2.441' class='prefix__cls-3'/%3E%3Ccircle cx='2.441' cy='2.441' r='1.691' class='prefix__cls-4'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
          right: 3rem;
        }

        &:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.849' height='17.702' viewBox='0 0 15.849 17.702'%3E%3Cg id='prefix__Seach' transform='translate(.75 .75)'%3E%3Cpath id='prefix__Union_2' d='M11.462 12.156A6.376 6.376 0 0 1 1 7.319a6.366 6.366 0 0 1 12.732 0 6.287 6.287 0 0 1-2.269 4.837L15.5 17.5z' data-name='Union 2' transform='translate(-1 -1)' style='fill:none;stroke:%23000;stroke-width:1.5px'/%3E%3C/g%3E%3C/svg%3E%0A");
          left: 2rem;
        }
      }
    }
  }

  input.form-control {
    border-radius: 2rem;
    font-size: 1.4rem;
    background-color: rgba($colors--dirty-white, 0.4);
    border-color: rgba($colors--dirty-white, 0.4);
    color: $colors--black;
    line-height: 1;
    padding: 2rem 5rem !important;

    &::placeholder {
      color: $colors--black;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
    }
  }

  .btn--cancel {
    font-size: 1.4rem;
    padding: 2rem !important;

    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
    }
  }
}
