.form-control {
  font-size: 1.4rem;
  letter-spacing: 0.022rem;
  line-height: 1;
  height: auto;
  padding: 1.5rem 2rem;
  border-radius: 5px;

  &.font-size-sm {
    padding: 0.9rem 1.6rem;
  }

  &::placeholder {
    color: rgba($colors--black-two, 0.5);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

textarea.form-control {
  resize: none;
}
