html {
  font-size: 62.5%;

  @include media-breakpoint-up(md) {
    font-size: 48%;
  }

  @include media-breakpoint-up(lg) {
    font-size: 53.125%;
  }

  @include media-breakpoint-up(xl) {
    font-size: 62.5%;
  }
}

body {
  font-size: 1rem;
  line-height: 1.17;
  padding-bottom: 4rem;

  &.is-loading {
    position: relative;

    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      background-color: $colors--main-green;
      z-index: 9999;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 4rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='135' height='140' viewBox='0 0 135 140' fill='%23fff'%3E%3Crect y='15.8679' width='15' height='108.264' rx='6'%3E%3Canimate attributeName='height' begin='0.5s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0.5s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='30' y='28.3679' width='15' height='83.2642' rx='6'%3E%3Canimate attributeName='height' begin='0.25s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0.25s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='60' width='15' height='58.2642' rx='6' y='40.8679'%3E%3Canimate attributeName='height' begin='0s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='90' y='28.3679' width='15' height='83.2642' rx='6'%3E%3Canimate attributeName='height' begin='0.25s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0.25s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='120' y='15.8679' width='15' height='108.264' rx='6'%3E%3Canimate attributeName='height' begin='0.5s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0.5s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
    }
  }

  .container {
    @include media-breakpoint-up(md) {
      $margin: 0.75rem;

      padding-left: $margin;
      padding-right: $margin;

      .row {
        margin-left: $margin * -1;
        margin-right: $margin * -1;

        > [class*='col'] {
          padding-left: $margin;
          padding-right: $margin;
        }
      }
    }

    .col--aside {
      @include media-breakpoint-down(sm) {
        margin-top: 3rem;
      }

      > * {
        + * {
          margin-top: 3rem;
        }
      }
    }
  }

  &:not(.homepage):not(.mode--payment) {
    @include media-breakpoint-down(sm) {
      header + * {
        padding-top: 0 !important;

        .main-section > *:nth-child(1) {
          padding-top: 5rem;
        }
      }
    }

    @include media-breakpoint-up(md) {
      &:not([class*='mode--']) {
        main {
          padding-top: 5rem;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &:not(.mode--reading) {
      padding-bottom: 10rem;
    }
  }

  &.mode--reading {
    padding-bottom: 0 !important;

    .form-control {
      font-size: 1rem;
      padding: 1rem;
      line-height: 1;

      @include media-breakpoint-up(md) {
        font-size: 1.4rem;
      }
    }

    header,
    footer {
      display: none !important;
    }

    main {
      padding: 0 !important;
      margin: 0 !important;

      .col--aside {
        display: none;
      }
    }
  }

  &.mode--payment {
    @include media-breakpoint-down(sm) {
      header {
        > * {
          display: none;
        }
      }

      main {
        padding-top: 0;

        .container {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    .form-control {
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      border-color: $colors--pinkish-grey;
    }
  }
}

html,
body {
  * {
    &:focus {
      outline: none;
    }
  }

  &.overflow-hidden {
    overflow: hidden !important;
  }
}

select {
  -webkit-appearance: none;

  &.form-control {
    background-position: calc(100% - 1rem);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='angle-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' class='svg-inline--fa fa-angle-down fa-w-8 fa-fw fa-2x'%3E%3Cpath fill='currentColor' d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z' class=''%3E%3C/path%3E%3C/svg%3E");
  }

  option {
    font-size: 1.4rem !important;
  }
}

.fal,
.fab,
.fas {
  vertical-align: middle;
}

main {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 10rem;
  }

  .main-section {
    > div {
      + * {
        margin-top: 3rem;
      }
    }
  }

  .container {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;

      .main-section {
        > * {
          &:not([class*='-slider']):not([slider-element]) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }

          &[slider-element] {
            .title-block {
              padding-left: 1.5rem;
              padding-right: 1.5rem;
            }
          }
        }
      }
    }

    &--success {
      @include media-breakpoint-up(lg) {
        max-width: 720px;
      }
    }
  }

  .row {
    &.no-gutter-on-mobile {
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-right: 0;

        > * {
          &:not(.col--aside) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

figure,
p,
label {
  margin-bottom: 0;
}

ul {
  &:not(.standart-list) {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

@for $i from 1 to 7 {
  h#{$i} {
    margin-bottom: 0;
  }
}

form {
  .row {
    + .row {
      margin-top: 2rem;
    }
  }
}

.op-05 {
  opacity: 0.5;
}

.container {
  @include media-breakpoint-down(sm) {
    max-width: unset;
  }

  @include media-breakpoint-up(md) {
    max-width: calc(100% - 4.763rem);
  }

  @include media-breakpoint-up(xl) {
    max-width: vw(1655, 1920);
  }

  @media (min-width: 1920px) {
    max-width: 1655px;
  }
}

.list {
  position: relative;

  &-item {
    + * {
      margin-top: 1.6rem;
    }
  }

  &-link {
    display: block;
    font-size: 1.4rem;
    color: inherit;
    transition: opacity $duration, transform $duration;

    .op-05 {
      transition: opacity $duration;
      transition-delay: $duration / 2;
    }

    &:hover {
      transform: translateY(-0.5rem);

      .op-05 {
        opacity: 1 !important;
      }
    }
  }
}

.border-radius {
  &-3px {
    border-radius: 0.3rem;
  }
}

[class*='-inline-block'] {
  vertical-align: middle;
}

.link-default {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.bl-1-solid {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.btn {
  &-minus,
  &-plus {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    width: 3.6rem;
    height: 3.6rem;
    border: 1px solid $colors--pinkish-grey;

    &:before {
      font-family: $font-awesome;
      font-weight: 300;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: $colors--pinkish-grey;
    }
  }

  &-plus {
    &:before {
      content: '\f067';
    }

    + * {
      margin-left: 1.5rem;
    }
  }

  &-minus {
    &::before {
      content: '\f068';
    }
  }
}

.border-none {
  border: none !important;
}
