.payment {
  @include media-breakpoint-down(sm) {
    padding-top: 0 !important;
  }

  .lh-1 {
    line-height: 1 !important;
  }

  .product {
    &-info {
      .description {
        color: rgba($colors--black, 0.5);
        letter-spacing: 0.024rem;
        line-height: 1.2;
        font-size: 1.5rem;
      }

      .books-section {
        @include media-breakpoint-down(sm) {
          margin-left: -15px;
          margin-right: -15px;
        }
      }
    }
  }

  &-block {
    &:not(.d-none) {
      + .payment-continue {
        display: none;
      }
    }
  }

  &-continue {
    background-image: linear-gradient(to top, #ffffff 50%, rgba(255, 255, 255, 0) 93%);
    z-index: 999;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;

    @include media-breakpoint-down(sm) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .btn {
      font-size: 1rem;
      border: 1px solid $colors--warm-grey;
      border-radius: 5px;
      padding: 0.9rem 2rem;
      min-width: 77px;
      background-color: $colors--white;

      @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
        min-width: 150px;
      }

      + * {
        margin-left: 2.5rem;
      }
    }
  }

  &-bill-block {
    $mt: 1.75rem;

    > .row {
      > [class*='col'] {
        > .row {
          > .col-12 {
            + .col-12 {
              margin-top: $mt;
            }
          }
        }
      }

      + .row {
        margin-top: $mt;
      }
    }

    @include media-breakpoint-down(md) {
      > .row {
        > [class*='col-12'] {
          + [class*='col-12'] {
            margin-top: $mt;
          }
        }
      }
    }
  }

  input.form-control,
  textarea.form-control,
  select.form-control {
    padding: 1.5rem;
  }

  &-tabs {
    position: relative;

    display: flex;
    flex-flow: nowrap;

    > * {
      position: relative;
      min-height: 1px;
      width: auto;
      max-width: 100%;
    }

    &-item {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.6rem;
      cursor: pointer;
      text-align: center;

      @include media-breakpoint-down(sm) {
        flex-basis: 0;
        flex-grow: 1;

        font-weight: bold;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 2rem;
        padding-right: 2rem;
        min-width: 150px;
      }

      &:not(.active) {
        opacity: 0.3;
      }

      &.active {
        &::after {
          content: '';
          position: absolute;
          left: 1rem;
          right: 0;
          bottom: 0;
          background-color: $colors--main-green;
          height: 3px;
        }
      }

      + * {
        margin-left: 1rem;
        padding-left: 1rem;

        @include media-breakpoint-up(md) {
          padding-left: 3rem;
        }
        border-left: 1px solid rgba($colors--black, 0.5);
      }
    }

    &-contents {
      position: relative;

      padding: 2.5rem 0;

      > * {
        $mt: 1.75rem;

        > .row {
          > [class*='col'] {
            > .row {
              > .col-12 {
                + .col-12 {
                  margin-top: $mt;
                }
              }
            }
          }

          + .row {
            margin-top: $mt;
          }
        }

        @include media-breakpoint-down(md) {
          > .row {
            > [class*='col-12'] {
              + [class*='col-12'] {
                margin-top: $mt;
              }
            }
          }
        }

        &:not(.active) {
          display: none;
        }

        &.active {
          animation: fadeIn $duration;
        }
      }
    }
  }

  .cards {
    position: relative;
    background-color: rgba($colors--warm-grey, 0.25);
    box-shadow: 0 0 4px rgba($colors--warm-grey, 0.25);
    min-height: vw(150, 375);

    @include media-breakpoint-up(md) {
      min-height: 150px;
    }
  }
}

.payment-info-block {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;

    > * {
      position: relative;
      min-height: 1px;
      width: auto;
    }

    .product-row {
      $w: calcPercent(414, 1226) * 1%;

      flex: 0 0 $w;
      max-width: $w;
    }

    .product-info {
      $w: calcPercent(745, 1226) * 1%;
      flex: 0 0 $w;
      max-width: $w;

      > *:nth-child(1) {
        min-height: 14vw;
      }
    }
  }
}

.product {
  &-row {
    display: flex;
    flex-flow: wrap;

    align-items: center;

    > * {
      position: relative;
      min-height: 1px;
      width: 100%;

      + * {
        margin-top: 1rem;
      }
    }

    .cover-block {
      $w: calcPercent(154, 345) * 1%;

      flex: 0 0 $w;
      max-width: $w;

      .img {
        padding-bottom: 230 / 154 * 100%;

        @extend %book;
      }

      + * {
        margin-left: 1rem;
      }
    }

    .content-block {
      flex-basis: 0;
      flex-grow: 1;
      width: auto;
      max-width: 100%;

      text-align: center;

      .title {
        font-size: 2rem;
        color: rgba($colors--dark, 0.75);

        + * {
          margin-top: 1rem;
        }

        &.sub {
          font-size: 1.2rem;
          font-weight: 500;
          color: rgba($colors--dark, 0.5);
        }
      }
    }
  }
}
